<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <meta name="author" content="Robin Forestier">
    <meta name="description" content="Mode 2">

    <title>Mode 2</title>
    <link rel="stylesheet" href="/css">
</head>
<body>
    <header>
        <a href="/">🏠</a>
        <a href="/info">?</a>
        <div><p>Mode 2</p></div>
        <a style="pointer-events: none;">&nbsp;</a>
        <a href="/settings">🔧</a>
    </header>

    <form method="post" action="/mode-2">
        <div class="block on-off">
            <button class="on" type="submit" name="on-off" value="on">ON</button>
            <button class="off" type="submit" name="on-off" value="off">OFF</button>
        </div>
    </form>

    <form method="post" action="/mode-2">
        <div class="block on-off">
			<input type="number" name="min-s" min="0" placeholder="Min en seconde">
			<input type="number" name="max-s" min="0" placeholder="Max en seconde">
        </div>

        <div class="block">
            <p>Nombre de couleurs</p>
            <input type="number" id="quantity" name="colors" min="1" max="5" value="1">
            <p>Nombre de light</p>
            <input type="number" id="quantity" name="light" min="1" max="5" value="1">
            <button class="modifier" type="submit">Modifier</button>
        </div>
    </form>
</body>