<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <meta name="author" content="Robin Forestier">
    <meta name="description" content="Error page">

    <title>Mode 2</title>
    <link rel="stylesheet" href="./static/layout.css">
</head>
<body>
    <header>
        <a href="/">🏠</a>
        <a href="/info">?</a>
        <div><p>Mode 2</p></div>
        <a style="pointer-events: none;">&nbsp;</a>
        <a href="/settings">🔧</a>
    </header>

    <form action="">
        <div class="block on-off">
            <button class="on">ON</button>
            <button class="off">OFF</button>
        </div>
    </form>

    <form action="">
        <div class="block on-off">
                <input type="number" placeholder="Min en seconde">
                <input type="number" placeholder="Max en seconde">
        </div>

        <div class="block">
            <p>Nombre de couleurs</p>
            <input type="number" id="quantity" name="colors" min="1" max="5" value="1">
            <p>Nombre de light</p>
            <input type="number" id="quantity" name="light" min="1" max="5" value="1">
            <button class="modifier">Modifier</button>
        </div>
    </form>
</body>