<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <meta name="author" content="Robin Forestier">
    <meta name="description" content="Mode 1">

    <title>Mode 1</title>
    <link rel="stylesheet" href="/css">
</head>
<body>
    <header>
        <a href="/">🏠</a>
        <a href="#">?</a>
        <div><p>Mode 1</p></div>
        <a style="pointer-events: none;">&nbsp;</a>
        <a href="/settings">🔧</a>
    </header>

    <form method="post" action="/mode-1">
        <div class="block on-off">
            <button class="on" type="submit" name="on-off" value="on">ON</button>
            <button class="off" type="submit" name="on-off" value="off">OFF</button>
        </div>
    </form>

    <form method="post" action="/mode-1">
        <div class="block">
            <p>Nombre de couleurs</p>
            <input type="number" id="quantity" name="colors" min="1" max="5" value="1">
            <p>Nombre de light</p>
            <input type="number" id="quantity" name="light" min="1" max="5" value="1">
            <button class="modifier" type="submit" name="modif" value="1">Modifier</button>
        </div>
    </form>
</body>